MEDIA = {
  'FLYING_AWAY': {
    'file': 'bye.mp4',
    'source': 'https://www.youtube.com/watch?v=6Qp4wafJ8_I',
  },
  'FLYING_IN': {
    'file': 'hello.mp4',
    'source': 'https://www.youtube.com/watch?v=Gu8EudiPLZw',
  },
  'BELLY_RUB': {
    'file': 'rewards/belly-rub.mp4',
    'source': 'https://www.youtube.com/watch?v=-bTaj37E79k',
  },
  'DJBIRB': {
    'file': 'rewards/dj.mp4',
    'source': 'https://www.youtube.com/watch?v=1v2SN06DnPo',
  },
  'SHOPPING': {
    'file': 'rewards/shopping.mp4',
    'source': 'https://www.youtube.com/watch?v=BfhlPEkNm7o',
  },
  'DANCINGQUEEN': {
    'file': 'rewards/queen.mp4',
    'source': 'https://www.youtube.com/watch?v=9DaGgzJm6is',
  },
  'MICROWAVE': {
    'file': 'rewards/microwave.mp4',
    'source': 'https://www.youtube.com/watch?v=NVY0qNe3BUE',
  },
  'JUMPING': {
    'file': 'rewards/jumping.mp4',
    'source': 'https://www.youtube.com/watch?v=_62o7u-BYRA',
  },
  'RIDING': {
    'file': 'rewards/riding.mp4',
    'source': 'https://www.youtube.com/watch?v=dVngVDTYbOQ',
  },
  'RIVERDANCE': {
    'file': 'rewards/riverdance.webm',
    'source': 'https://www.youtube.com/watch?v=KF7gk10jgEw',
  },
  'PAPERTOWEL': {
    'file': 'rewards/papertowel.mp4',
    'source': 'https://www.youtube.com/watch?v=6_-4KArFR08',
  },
}

MSGS = {
  'ERROR_OWNED': {
    'text': '''@{sender_acct} Pwi pwi pwi!!!

[FR] Je suis chez quelqu'un d'autre ! Je ne peux pas partir me promener pour l'instant !
Je serai de nouveau disponible si cette personne ne m'envoie pas me promener d'ici {hours}h{minutes:02d} !

[EN] I'm currently visiting someone else! You can't send me around right now!
I'll be available in {hours}h{minutes:02d} if that person doesn't send me around in the meantime!''',
    'privacy': 'direct',
   },
  'ERROR_DELIVERY': {
    'text': '''@{sender_acct} Pwiii pwii pwii pwiii!

[FR] Je suis déjà en train de m'envoler pour voir quelqu'un d'autre !

[EN] I'm already flying away to someone else!''',
    'privacy': 'direct',
  },
  'ERROR_INVALID_FORMAT': {
    'text': '''@{sender_acct} Pwii? Pwiii!

[FR] Je n'ai pas compris vers qui je dois m'envoler ? Il faut me dire « va voir utilisateur@domaine » !

[EN] I don't understand who I'm supposed to be flying to? You have to tell me “go see user@domain”!''',
    'privacy': 'direct',
  },
  'ERROR_UNKNOWN_ACCOUNT': {
    'text': '''@{sender_acct} Pwiii! Pwiii?

[FR] Je n'ai pas trouvé {acct} ! Vers qui d'autre dois-je aller ?

[EN] I can't find {acct}! Who else should I visit?''',
    'privacy': 'direct',
  },
  'ERROR_UNKNOWN_ACCOUNT2': {
    'text': '''@{sender_acct} Pwiii! Pwiii?

[FR] Je n'ai pas trouvé {acct} ! Vers qui d'autre dois-je aller ? Peut-être voulais-tu dire {suggested_acct} ?

[EN] I can't find {acct}! Who else should I visit? Maybe you meant {suggested_acct}?''',
    'privacy': 'direct',
  },
  'ERROR_INTERNAL': {
    'text': '''@{sender_acct} Pwiiii…

[FR] Je suis désolé, je n'arrive pas à contacter {acct}… il va falloir essayer avec quelqu'un d'autre.

[EN] I'm sorry I cannot reach {acct}… who should I be flying to?''',
    'privacy': 'direct',
  },
  'ERROR_SAME_ACCOUNT': {
    'text': '''@{sender_acct} Pwiii!

[FR] Hé, ce n'est pas du jeu de vouloir me garder comme ça ! Vers qui d'autre dois-je aller ?

[EN] Hey, it's not fair to try to keep me like this! Who else should I visit?''',
    'privacy': 'direct',
  },
  'ERROR_OWN_ACCOUNT': {
    'text': '''@{sender_acct} Pwii. Pwii?

[FR] Je ne peux pas aller me voir moi-même ?

[EN] I cannot fly to see myself?''',
    'privacy': 'direct',
  },
  'DELIVERY_START': {
    'text': '''@{sender_acct} Pwiipwii pwiipwiii!

[FR] En route vers chez {acct} ! Ça peut me prendre un peu de temps !
Si je me suis trompé de personne, tu peux me dire de revenir en me disant « reviens » !

[EN] On my way to {acct}! This may take me a while!
If I'm not flying to the correct person, you can still tell me to “come back”!''',
    'privacy': 'direct',
    'media': ['FLYING_AWAY'],
  },
  'DELIVERY_CANCELLED': {
    'text': '''@{sender_acct} Pwiii…

[FR] Tu ne veux plus que j'aille voir {acct} ? D'accord… qui dois-je aller voir ?

[EN] You don't want me to go visit {acct} anymore? Ok… but who should I fly to?''',
    'privacy': 'direct',
  },
  'DELIVERED': {
    'text': '''@{receiver_acct} :caique: Pwiii pwii pwiii! :caique:

[FR] Bonjour de la part de {sender_acct} ! Tu peux m'envoyer vers la personne de ton choix en me répondant « va voir utilisateur@domaine » ! En attendant, je ne suis qu'à toi pour les {nb_hours} prochaines heures !
Si tu ne sais pas vers qui m'envoyer, tu peux me dire « va jouer ailleurs » !

[EN] Hello from {sender_acct}! You can send me to anyone you'd like by replying me “go see user@domain”! Until you do, I'll be yours for the next {nb_hours} hours!
If you don't know where to send me to, you can tell me to “go play somewhere else”!''',
    'privacy': 'direct',
    'media': ['FLYING_IN'],
  },
  'IDLE': {
    'text': ''':caique: Pwiii… pwii pwii! :caique:

[FR] Personne ne m'a envoyé me promener depuis un moment… du coup, n'importe qui peut le faire en me répondant « va voir utilisateur@domaine » !

[EN] Noone sent me flying away… but now, anybody can! Reply me with “go see user@domain”, and I'll fly to them!''',
    'privacy': 'public',
  },
  'IDLE2': {
    'text': ''':caique: Pwiii… pwii pwii! :caique:

[FR] La personne chez qui j'ai été envoyé préfère que j'aille jouer ailleurs ! Du coup, envoyez-moi chez qui vous voulez en me répondant « va voir utilisateur@domaine » !

[EN] The person I was sent to would like me to play somewhere else! Reply me with “go see user@domain”, and I'll fly to them!''',
    'privacy': 'public',
  },
  'BELLY_RUB': {
    'text': ''':caique: Pwiiiiii <3 :caique:

[FR] J'ai rencontré {nb_users} personnes et j'ai apporté du bonheur {nb_likes} fois ! J'ai bien mérité un petit gratouilli !

[EN] I've met {nb_users} people and I've made them happy {nb_likes} times! I've earned myself a belly rub!''',
    'privacy': 'public',
    'media': ['BELLY_RUB'],
  },
  'PAPERTOWEL': {
    'text': ''':caique: Pwiii… pwii! :caique:

[FR] Des fois, je comprends vraiment pas mon cousin à tête noire… mais bon, il a l'air de bien s'amuser !

[EN] Sometimes, I really don't understand my black-headed cousin… but he seems to be having a lot of fun!''',
    'privacy': 'public',
    'media': ['PAPERTOWEL'],
  },
  'JUMPING': {
    'text': ''':caique: Pwii? Pwiii! :caique:

[FR] Mon cousin à tête noir commence à sauter sur place… sinon, j'ai rencontré {nb_users} d'entre vous et je leur ai fait plaisir {nb_likes} fois !

[EN] My black-headed cousin is starting to jump in-place… by the way, I've met {nb_users} of you and I've made them happy {nb_likes} times!''',
    'privacy': 'public',
    'media': ['JUMPING'],
  },
  'DANCINGQUEEN': {
    'text': ''':caique: Pwii~ pwiii~ pwiii~ 🎶 :caique:

[FR] Je vais bientôt rencontrer tout le fediverse ! {nb_users} personnes ! Pfiou ! Sinon, j'aime bien Queen !

[EN] I've met almost all of the fediverse! {nb_users} of you! Wow! Also, I like Queen!''',
    'privacy': 'public',
    'media': ['DANCINGQUEEN'],
  },
  'SHOPPING': {
    'text': ''':caique: Pwi pwi pwiiii! :caique:

[FR] J'ai rencontré pas moins de {nb_users} mastonautes ! Et ils ont aimé mes visites {nb_likes} fois ! Mon cousin est parti m'acheter à manger !

[EN] I've met {nb_users} mastonauts! And they liked my visits {nb_likes} times! My cousin went shopping for dinner!''',
    'privacy': 'public',
    'media': ['SHOPPING'],
  },
  'MICROWAVE': {
    'text': ''':caique: Pwi! Pwi! Pwi! Pwi! Pwi! Pwi! :caique:

[FR] J'ai rencontré {nb_users} personnes formidables ! Ils ont aimé mes visites {nb_likes} fois ! Je vais fêter ça en dinant !

[EN] I've met {nb_users} amazing people! And they liked me {nb_likes} times! I'll eat dinner to celebrate!''',
    'privacy': 'public',
    'media': ['MICROWAVE'],
  },
  'DJBIRB': {
    'text': ''':caique: Pwiii~ pwiii~ pwiii~ pwiii~ :caique:

[FR] Pwiiiii~ j'ai rencontré {nb_users} personnes qui m'ont aimé {nb_likes} fois, je m'amuse comme un petit fou !

[EN] Pwiiiii~ I've met {nb_users} who liked me {nb_likes} times, I'm having a lot of fun!''',
    'privacy': 'public',
    'media': ['DJBIRB'],
  },
  'RIDING': {
    'text': ''':caique: Pwii pwii pwii~ :caique:

[FR] Il n'y a pas que mon cousin qui peut s'amuser comme ça ! Regardez-moi ! ~
J'ai rencontré {nb_users} personnes et ils m'ont apprécié {nb_likes} fois !

[EN] My cousin is not the only one that can have fun! Look at me! ~
I've met {nb_users} people so far and they liked me {nb_likes} times!''',
    'privacy': 'public',
    'media': ['RIDING'],
  },
  'RIVERDANCE': {
    'text': ''':caique: Pwii 🎶 :caique:

[FR] Regardez mon cousin danser !
J'ai rencontré {nb_users} personnes et ils m'ont apprécié {nb_likes} fois !

[EN] Watch my cousin dance!
I've met {nb_users} people so far and they liked me {nb_likes} times!''',
    'privacy': 'public',
    'media': ['RIVERDANCE'],
  },
}

REWARDS = [
  {'required_likes': 2,
   'required_users': 3,
   'msg_id': 'BELLY_RUB'},
  {'required_likes': 5,
   'required_users': 5,
   'msg_id': 'JUMPING'},
  {'required_likes': 10,
   'required_users': 10,
   'msg_id': 'DANCINGQUEEN'},
  {'required_likes': 20,
   'required_users': 12,
   'msg_id': 'SHOPPING'},
  {'required_likes': 30,
   'required_users': 15,
   'msg_id': 'MICROWAVE'},
  {'required_likes': 40,
   'required_users': 20,
   'msg_id': 'DJBIRB'},
  {'required_likes': 45,
   'required_users': 30,
   'msg_id': 'PAPERTOWEL'},
  {'required_likes': 46,
   'required_users': 35,
   'msg_id': 'RIDING'},
  {'required_likes': 50,
   'required_users': 40,
   'msg_id': 'RIVERDANCE'},
]
